ZHA-Event-hw-id.json
[{"id":"99a2812fa2630ce8","type":"server-events","z":"4aea38df66df4463","name":"zha-event","server":"b68ac785.f8d878","version":2,"eventType":"zha_event","exposeToHomeAssistant":false,"eventData":"","haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"event_type":"","x":60,"y":100,"wires":[["f92d38429eac59a2","33516e12913ab683"]]},{"id":"723677831a47fe2d","type":"switch","z":"4aea38df66df4463","name":"which output","property":"payload.event.command","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"move_with_on_off","vt":"str"},{"t":"eq","v":"stop_with_on_off","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"move","vt":"str"},{"t":"eq","v":"stop_with_on_off","vt":"str"},{"t":"eq","v":"press","vt":"str"},{"t":"eq","v":"release","vt":"str"},{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"press","vt":"str"}],"checkall":"true","repair":false,"outputs":10,"x":410,"y":160,"wires":[["2779762d64d848da"],["b8f401978920fcfe"],["0b9122b08fa98140"],[],[],[],[],[],[],[]]},{"id":"f92d38429eac59a2","type":"debug","z":"4aea38df66df4463","name":"debug 1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":220,"y":100,"wires":[]},{"id":"2779762d64d848da","type":"debug","z":"4aea38df66df4463","name":"debug 2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":600,"y":100,"wires":[]},{"id":"33516e12913ab683","type":"switch","z":"4aea38df66df4463","name":"Ninja on-off","property":"msg.payload.event.device_ieee","propertyType":"msg","rules":[{"t":"eq","v":"00:3c:84:ff:fe:ca:d2:2c","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":230,"y":140,"wires":[["723677831a47fe2d","282ca01f0de53818"]]},{"id":"b8f401978920fcfe","type":"debug","z":"4aea38df66df4463","name":"debug 3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":140,"wires":[]},{"id":"0b9122b08fa98140","type":"debug","z":"4aea38df66df4463","name":"debug 4","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":180,"wires":[]},{"id":"efcd0d7e4c15b56a","type":"debug","z":"4aea38df66df4463","name":"debug 5","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":600,"y":220,"wires":[]},{"id":"0a8eaa6197bc9bac","type":"debug","z":"4aea38df66df4463","name":"debug 6","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":260,"wires":[]},{"id":"282ca01f0de53818","type":"debug","z":"4aea38df66df4463","name":"debug 7","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":400,"y":60,"wires":[]},{"id":"6365871204a8b8e6","type":"comment","z":"4aea38df66df4463","name":"Hardware id tester","info":"","x":90,"y":40,"wires":[]},{"id":"b68ac785.f8d878","type":"server","name":"Home Assistant","addon":true}]